@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #1E1E1E;
}

.text-gradient {
    background: linear-gradient(90deg, #984300 0%, #FD6F00 46%, #CA5900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/*.CircularProgressbar-path {*/
/*    stroke: '  linear-gradient(90deg, #984300 0%, #FD6F00 46%, #CA5900 100%);*/
/*    ';*/
/*;*/
/*}*/

/* toastStyles.css */
.toast-container {
    font-family: 'Montserrat', sans-serif;
}

.toast-container .Toastify__toast--success {
    background-color: rgba(255, 255, 255, 0.04);
    color: #FD6F00;
}

.toast-container .Toastify__toast--error {
    background-color: rgba(255, 255, 255, 0.04);
    color: #FD6F00;
}

.toast-container .Toastify__toast--info {
    background-color: rgba(255, 255, 255, 0.04);
    color: #FD6F00;
}

.toast-container .Toastify__toast--warning {
    background-color: rgba(255, 255, 255, 0.04);
    color: #FD6F00;
}

.toast-container .Toastify__progress-bar {
    background-color: #4caf50;
}

.toast-container .Toastify__progress-bar--error {
    background-color: #f44336;
}

.toast-container .Toastify__progress-bar--info {
    background-color: #2196f3;
}

.toast-container .Toastify__progress-bar--warning {
    background-color: #ff9800;
}

.toast-container .Toastify__close-button {
    color: #FD6F00;
}
.faq_overlay {
    content: '';
    border-radius: 100px;
    /*background: radial-gradient(#F8E07F, #E9CF74, #C4A65B, #A88646, #936F38, #87612F, #835D2D);*/
    box-shadow: 1px 1px 60px 38px rgba(255, 215, 120, 0.56);
    filter: blur(20);
    position: absolute;
    top: 40%;
    left: -18px;
}


@keyframes scrollX {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes scrollXReverse {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.animate-scrollX {
    animation: scrollX 30s linear infinite;
}

.animate-scrollXReverse {
    animation: scrollXReverse 30s linear infinite;
}

.mask-image-linear-gradient {
    -webkit-mask-image: linear-gradient(
            to right,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 10%,
            hsl(0 0% 0% / 1) 90%,
            hsl(0 0% 0% / 0)
    );
    mask-image: linear-gradient(
            to right,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 10%,
            hsl(0 0% 0% / 1) 90%,
            hsl(0 0% 0% / 0)
    );
}
